.thumbnail {display: inline;}
.textInfo {
  padding-left: 10px;
  display: inline;
  text-align: left;
}
.info {
  display: flex;
  padding: 10px;
}

@media (max-width: 768px) {
  .info {
    display: block;
  }
  .textInfo {
    font-size: 0.8em !important;
    text-align: center;
    padding: 0;
  }
  .thumbnail {
    display: none;
  }
}